<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reader.rss.mapper.CollectionMapper">
  <resultMap id="BaseResultMap" type="com.reader.rss.pojo.Collection">
    <constructor>
      <idArg column="col_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="item_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="account_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    col_id, item_id, account_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from collection
    where col_id = #{colId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from collection
    where col_id = #{colId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.reader.rss.pojo.Collection">
    insert into collection (col_id, item_id, account_id
      )
    values (#{colId,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}, #{accountId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.reader.rss.pojo.Collection">
    insert into collection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="colId != null">
        col_id,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="colId != null">
        #{colId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.reader.rss.pojo.Collection">
    update collection
    <set>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
    </set>
    where col_id = #{colId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.reader.rss.pojo.Collection">
    update collection
    set item_id = #{itemId,jdbcType=INTEGER},
      account_id = #{accountId,jdbcType=VARCHAR}
    where col_id = #{colId,jdbcType=INTEGER}
  </update>
</mapper>