<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reader.rss.mapper.ItemMapper">
  <resultMap id="BaseResultMap" type="com.reader.rss.pojo.Item">
    <constructor>
      <idArg column="item_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="item_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="item_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="site_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="fav_num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="like_num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="item_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="item_icon" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="item_des" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="item_pic" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    item_id, item_title, item_url, site_id, fav_num, like_num, item_date, item_icon, 
    item_des, item_pic
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from item
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from item
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.reader.rss.pojo.Item">
    insert into item (item_id, item_title, item_url, 
      site_id, fav_num, like_num, 
      item_date, item_icon, item_des, 
      item_pic)
    values (#{itemId,jdbcType=INTEGER}, #{itemTitle,jdbcType=VARCHAR}, #{itemUrl,jdbcType=VARCHAR}, 
      #{siteId,jdbcType=INTEGER}, #{favNum,jdbcType=INTEGER}, #{likeNum,jdbcType=INTEGER}, 
      #{itemDate,jdbcType=TIMESTAMP}, #{itemIcon,jdbcType=VARCHAR}, #{itemDes,jdbcType=VARCHAR}, 
      #{itemPic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.reader.rss.pojo.Item">
    insert into item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        item_id,
      </if>
      <if test="itemTitle != null">
        item_title,
      </if>
      <if test="itemUrl != null">
        item_url,
      </if>
      <if test="siteId != null">
        site_id,
      </if>
      <if test="favNum != null">
        fav_num,
      </if>
      <if test="likeNum != null">
        like_num,
      </if>
      <if test="itemDate != null">
        item_date,
      </if>
      <if test="itemIcon != null">
        item_icon,
      </if>
      <if test="itemDes != null">
        item_des,
      </if>
      <if test="itemPic != null">
        item_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemTitle != null">
        #{itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="itemUrl != null">
        #{itemUrl,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null">
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="favNum != null">
        #{favNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null">
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="itemDate != null">
        #{itemDate,jdbcType=TIMESTAMP},
      </if>
      <if test="itemIcon != null">
        #{itemIcon,jdbcType=VARCHAR},
      </if>
      <if test="itemDes != null">
        #{itemDes,jdbcType=VARCHAR},
      </if>
      <if test="itemPic != null">
        #{itemPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.reader.rss.pojo.Item">
    update item
    <set>
      <if test="itemTitle != null">
        item_title = #{itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="itemUrl != null">
        item_url = #{itemUrl,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null">
        site_id = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="favNum != null">
        fav_num = #{favNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null">
        like_num = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="itemDate != null">
        item_date = #{itemDate,jdbcType=TIMESTAMP},
      </if>
      <if test="itemIcon != null">
        item_icon = #{itemIcon,jdbcType=VARCHAR},
      </if>
      <if test="itemDes != null">
        item_des = #{itemDes,jdbcType=VARCHAR},
      </if>
      <if test="itemPic != null">
        item_pic = #{itemPic,jdbcType=VARCHAR},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.reader.rss.pojo.Item">
    update item
    set item_title = #{itemTitle,jdbcType=VARCHAR},
      item_url = #{itemUrl,jdbcType=VARCHAR},
      site_id = #{siteId,jdbcType=INTEGER},
      fav_num = #{favNum,jdbcType=INTEGER},
      like_num = #{likeNum,jdbcType=INTEGER},
      item_date = #{itemDate,jdbcType=TIMESTAMP},
      item_icon = #{itemIcon,jdbcType=VARCHAR},
      item_des = #{itemDes,jdbcType=VARCHAR},
      item_pic = #{itemPic,jdbcType=VARCHAR}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <select id="selectNewItem" resultType="com.reader.rss.pojo.Item">
  select *from item where item_id=(select max(item_id) from item)
</select>
  <select id="selectBySiteid" resultType="com.reader.rss.pojo.Item">
    select * from item where site_id = #{siteid}
  </select>
</mapper>