<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RSS关注你的订阅</title>
    <link rel="icon" href="/img/rssicon.jpg"  type="img/x-ico" />
    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/dist/css/main.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div style="width:300px; float:left ;border-right: solid 1px #eeeeee;margin-left: -15px" th:fragment="left">
    <div class="post-list"style="padding-right: -40px">
        <div class="post-list-item news-item" style="height: 66px">
            <div class="post-heading" style="padding: 20px 20px">
                <span style="font-size: x-large ;color:#3630ff" class="glyphicon glyphicon-home "></span><B style="margin-left: 20px;font-size: medium">查看全部</B>
            </div>
        </div>
        <div class="post-list-item news-item" style="padding: 5px 20px" >
            <a href="#" th:href="${choosedSite.itemUrl}">
                <div class="post-heading" th:text="${choosedSite.itemTitle}">暂无法显示</div>
            </a>

            <p class="text-muted">
                        <span >
                            <img class="avatar choosedTitle" src="/img/004.jpg" th:src="${choosedSite.itemIcon}" >

                        </span> ⋅
                <span>
                        [[${choosedSite.itemDate}]]
                        </span>
                <span class="glyphicon glyphicon-thumbs-up">[[${choosedSite.likeNum}]]
                        </span>
                <span class="glyphicon glyphicon-heart-empty">[[${choosedSite.favNum}]]
                        </span>
            </p>
        </div>

    </div>
</div>

</body>
<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/dist/js/main.js" ></script>

<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="/vendor/metisMenu/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/dist/js/sb-admin-2.js"></script>
</html>